---
import ArrowRIcon from "@icons/ArrowRIcon.astro";
---

<a
  class="group relative inline-block bg-[#f0f0f0] pl-8 pr-12 py-3 group rounded-3xl overflow-hidden"
  href="#"
>
  <span
    class="absolute top-[11px] right-5 group-hover:opacity-0 group-hover:translate-x-2 transition-all duration-[350ms] ease-linear"
  >
    <ArrowRIcon classname="text-black" />
  </span>
  <span
    class="absolute opacity-0 group-hover:opacity-100 top-[11px] right-5 transition-all duration-[200ms] ease-linear z-50"
  >
    <ArrowRIcon />
  </span>
  <span
    class="w-1 h-1 opacity-0 rounded-full bg-[#242424] absolute top-5 right-5 group-hover:scale-[100] group-hover:opacity-100 transition-all duration-[350ms] ease-linear"
  ></span>
  <span class="h-5 flex-col flex overflow-hidden">
    <span
      class="group-hover:translate-y-0 -translate-y-10 transition-all duration-[350ms] ease-linear font-bold"
    >
      Become a Client</span
    >
    <span
      class="group-hover:translate-y-4 -translate-y-6 transition-all duration-[350ms] ease-linear font-bold text-black/70"
    >
      Become a Client
    </span>
  </span>
</a>
