---
import Title from "@components/Title.astro";
import SectionCards from "./SectionCards.astro";
---

<section class="px-7 mb-8">
  <Title number={1}>Our Services</Title>
  <p class="text-black/40 text-5xl my-6">
    As a tight-knit team of experts, we create memorable and emotional websites,
    digital experiences, and native apps.
  </p>
  <SectionCards />
</section>
