---
import ArrowIcon from "@icons/ArrowIcon.astro";
---

<button
  class="flex relative items-center justify-center bg-white rounded-full
  w-16 h-16 group border-[5px] border-white
  hover:bg-transparent hover:scale-110 transition-all duration-500
  before:content-[''] before:absolute before:top-1/2 before:left-1/2 before:w-[105%] before:h-[105%] before:rounded-full
  before:border-2 before:border-white before:animate-pulceAnimation before:z-20"
>
  <div class="">
    <ArrowIcon />
  </div>
  <div
    class="absolute transition-all duration-500 group-hover:opacity-0 group-hover:translate-y-1/2"
  >
    <ArrowIcon classname="text-black" />
  </div>
</button>
