---
import ButtonHero from "@components/ButtonHero.astro";
import GoldVerified from "@components/GoldVerified.astro";
import TextsAnimation from "@components/TextsAnimation.astro";
---

<div class="px-8 flex mb-8">
  <section>
    <div>
      <h2 class="uppercase text-8xl font-extralight">We create</h2>
      <div class="flex items-center space-x-3 ml-8">
        <ButtonHero />
        <h2 class="uppercase text-8xl font-bold">Awesome</h2>
      </div>
      <TextsAnimation />
    </div>
    <div class="w-full h-[1px] bg-white mt-5 mb-4"></div>
    <GoldVerified />
  </section>
</div>
