---
import CxIcon from "@icons/CxIcon.astro";
import Start from "@icons/Start.astro";
---

<div
  class="w-full flex items-center space-x-3 hover:bg-white rounded-3xl px-2 py-1 group cursor-pointer transition-all duration-500"
>
  <div
    class="flex space-x-2 items-center group-hover:bg-black bg-white py-1 px-2 rounded-3xl transition-all duration-500"
  >
    <div>
      <CxIcon
        clasname="text-black group-hover:text-white transition-all duration-500"
      />
    </div>
    <div class="flex items-center gap-[2px]">
      <Start clasname="text-yellow-400 size-3  " />
      <Start clasname="text-yellow-400 size-3 " />
      <Start clasname="text-yellow-400 size-3 " />
      <Start clasname="text-yellow-400 size-3 " />
      <Start clasname="text-yellow-400 size-3 " />
    </div>
    <span
      class="text-black font-semibold text-sm group-hover:text-white transition-all duration-500"
      >4.9</span
    >
  </div>
  <h3 class="uppercase group-hover:text-black transition-all duration-500">
    gold verified
  </h3>
  <h4 class="font-bold group-hover:text-black transition-all duration-500">
    Our Customers love to work with us, 37 Reviews
  </h4>
</div>
