---
import Logo from "@icons/Logo.astro";
import Link from "@components/Link.astro";
---

<header class="flex items-center py-[15px]">
  <div class="flex items-center gap-2 w-60">
    <Logo />
    <h1 class="text-lg font-bold">Awsmd</h1>
  </div>
  <div
    class="px-9 flex lg:mx-[52px] xl:mx-[215px] bg-white text-black font-semibold rounded-[35px]"
  >
    <Link
      name="About Us  "
      href="#"
    />
    <Link
      name="Cases"
      href="#"
    />
    <Link
      name="Reviews"
      href="#"
    />
    <Link
      name="Contact Us"
      href="#"
    />
  </div>
</header>
