---
import heroVideo from "../assets/hero.mp4";
import Header from "@components/Header.astro";
import ButtonHero from "./ButtonHero.astro";
import TextsAnimation from "./TextsAnimation.astro";
import GoldVerified from "./GoldVerified.astro";
---

<section class="min-h-screen p-3 flex">
  <div
    class="flex flex-col justify-between w-full min-h-full pt-2 px-[18px] pb-[30px] relative rounded-[35px] overflow-hidden bg-white/20 backdrop-blur-xl flex-1"
  >
    <Header />
    <div class="px-8 flex">
      <section>
        <div>
          <h2 class="uppercase text-8xl font-extralight">We create</h2>
          <div class="flex items-center space-x-3">
            <ButtonHero />
            <h2 class="uppercase text-8xl font-bold">Awesome</h2>
          </div>
          <TextsAnimation />
        </div>
        <div class="w-full h-[1px] bg-white mt-5 mb-4"></div>
        <GoldVerified />
      </section>
    </div>

    <div class="absolute top-0 left-0 -z-10 w-full h-full">
      <video
        src={heroVideo}
        autoplay
        loop
        class="w-full h-full object-cover object-center aspect-video"
      ></video>
    </div>
  </div>
</section>
