---
import heroVideo from "../assets/hero.mp4";
import Header from "@components/Header.astro";
---

<section class="min-h-screen p-3 flex">
  <div
    class="w-full min-h-full pt-2 px-[10px] pb-[30px] relative rounded-[35px] overflow-hidden bg-white/20 backdrop-blur-xl flex-1"
  >
    <Header />
    <div class=""></div>
    <div class="absolute top-0 left-0 -z-10 w-full h-full">
      <video
        src={heroVideo}
        autoplay
        loop
        class="w-full h-full object-cover object-center"
      ></video>
    </div>
  </div>
</section>
