<div
  class="w-full mt-3 mb-2 text-[#2CA8FE] text-[150px] font-bold flex gap-1 text-nowrap overflow-hidden"
>
  <div class="animate-scroll">
    <p>Data driven user focused value based</p>
  </div>
  <div class="animate-scroll">
    <p>Data driven user focused value based</p>
  </div>
</div>
