---
import video from "../assets/publi.mp4";
import PlayIcon from "@icons/PlayIcon.astro";
import imagen from "../assets/circleletters.png";
---

<div class="relative">
  <div class="w-96 rounded-3xl overflow-hidden">
    <video
      autoplay
      loop
      muted
      class="aspect-video w-full h-full object-cover object-center"
      src={video}
    ></video>
  </div>
  <div
    class="w-16 h-16 rounded-full bg-white/70 flex items-center justify-center absolute -top-8 -left-8"
  >
    <PlayIcon />
  </div>
  <img
    src={imagen.src}
    class="w-24 h-24 absolute -top-12 -left-12 animate-spinRule accent-indigo-400"
    alt="circle letters"
  />
</div>
