---
import ButtonAbout from "@components/Buttons/ButtonAbout.astro";
import Title from "@components/Title.astro";
import InfoAbout from "./InfoAbout.astro";
---

<section class="px-7 mb-8">
  <Title number={2}>About Us</Title>
  <header class="flex items-center justify-between">
    <h3 class="text-black text-5xl my-3">We Strive to Innovate</h3>
    <ButtonAbout />
  </header>
  <span class="border border-black/20 w-full h-3 block border-b-0"></span>
  <div class="mt-20 flex gap-3">
    <InfoAbout />
    <InfoAbout />
  </div>
</section>
