---
import SectionCardAbout from "@components/SectionAboutUs/SectionCardsAbout.astro";
---

<section class="w-2/5">
  <p class="text-lg text-black/50 mb-7">
    <span class="text-black">Solid Strategy</span> aligned with business needs and
    robust data analysis are fundamental ingredients to extract actionable insights
  </p>
  <h4 class="text-black/30 font-bold">Some Number About Us</h4>
  <SectionCardAbout />
</section>
